.App {
  text-align: center;
  display: inline-block; 
  text-align: left; 
  background: linear-gradient(to right, #96bcca, #fdfdfd);
  padding: 20px; 
  border: 2px solid black; 
}

h1 {
  color: rgb(43, 0, 128);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

span {
  margin-right: 10px;
}

button {
  background-color: rgb(23, 1, 1);
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: darkred;
}

.update-section {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(to right, #96bcca, #fdfdfd);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}